// Identidade visual Banrisul - Manual da Marca
$main-color: #0094FF;
$main-dark: #000050;
$banrisul-roxo: #936FFA;
$main-dark-grey: #555555;
$body-background-color: #f0f7ff;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Source+Sans+3:wght@400;600;700&display=swap');

$size-form: (calc(100vw - 300px) / (1600 - 300));
$body-size: calc(12pt + (14 - 12) * #{$size-form});

::-webkit-scrollbar {
    display: none;
}

*{
    font-family: 'Source Sans 3', 'Source Sans Pro', sans-serif !important;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3, .MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6 {
    font-family: 'Exo 2', sans-serif !important;
}

body{
    margin: 0;
    height: 100vh;
    font-size: $body-size;
    .sucessImg{
        width: auto;
        height: auto;
        max-width: 100%;
    }
    .css-0 {
        overflow: inherit!important;
    }
    a.afn { 
        color: $main-color !important;
        font-weight: 700;
    }
    .object-contain{
        object-fit: contain;
        img{
            object-fit: contain;
        }
    }
    #root {
        height: 100%;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .main-color{
        color: $main-color !important;
    }
    .main-background-color{
        background-color: $main-color !important;
    }
    .main-background-color-after{
        &:after{
            background-color: $main-color !important;
        }
    }
    .main-background-body{
        background-color: $body-background-color;
    }
    .main-color-hover { 
        &:hover{
            color: $main-color!important;
        }
    }
    .main-border-color{
        border-color: $main-color!important;
    }
    .custom-select.select {
        &__control {
            &:hover{
                border-color: $main-color!important;
            }
            &--is-focused{
                border-color: $main-color!important;
            }
        }
        &__option {
            &--is-selected {
                background-color: $main-color!important;
            }
        }
    }
    .circular-progress-main-color{
        color: $main-color!important;
    }
    .text-underline *{
        color: $main-dark-grey;
        text-decoration: underline;
    }
    .text-main-underline{
        text-decoration: underline;
    }
    .hover-underline{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .main-wrapper-component{
        box-shadow: none !important;
        border: 1px solid #8080808c!important;
        border-radius: 5px!important;
        height: fit-content !important;
        min-height: 0 !important;
        h1, h2, h3, h4, [class*="title"], [class*="header"] {
            color: #000051 !important;
        }
        .filters .MuiGrid-container { align-items: flex-end; }
        .filters .MuiGrid-item {
            display: flex; flex-direction: column; min-height: 3.5rem; justify-content: flex-end;
        }
        .filters .MuiInputBase-root,
        .filters .text-field-component .MuiInputBase-root,
        .filters [class*="select"] .MuiInputBase-root {
            min-height: 2.25rem !important; height: 2.25rem !important;
        }
    }
    .main-wrapper-component .techsbcn-powered-component {
        align-items: flex-start !important;
        > * { align-items: flex-start !important; width: 100%; }
    }
    .techsbcn-powered-component{
        display: flex; align-items: center;
        > * { display: flex; align-items: center; }
        .techs-bcn-logo{ width: 170px; }
    }
    .navbar-techsbcn-powered-component{
        display: flex; align-items: center;
        .MuiGrid-root { align-items: center; }
        .techs-bcn-logo{
            width: 100px;
            margin-top: 10px;
        }
        .logo-banrisul{
            height: 34px;
            width: auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    .app-toolbar, .MuiToolbar-root.MuiToolbar-regular {
        min-height: 48px !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }
    .search-component {
        min-height: 0 !important;
        .title { min-height: 0; margin: 0; padding: 0; }
        .filters { margin-top: 0; }
    }
    .circular-progress-main-color{
        color: $main-color!important;
    }
    .box-loading-relative{
        position: relative;
        height: 100%;
        opacity: 0.5;
        .MuiCircularProgress-root{
            z-index: 5;
            width: 80px !important;
            height: 80px !important;
            position: absolute;
            left: 0;
            right: 0;
            top: 115px;
            margin: auto;
        }
    }
    .table-dashboard{
        .MuiTableCell-head{
            background-color: $main-color!important;
            .table-header-cell{
                color: white !important;
            }
        }
    }
    .text-field-component .MuiInputBase-root {
        color: #666666 !important;
        border: 1px solid grey;
        padding: 0.35rem;
        background-color: white !important;
        border-radius: 6px !important;
        min-height: 2.25rem !important;
        height: 2.25rem !important;
        box-sizing: border-box;
    }
    .main-wrapper-component .MuiButton-root,
    .main-wrapper-component button[class*="button"] {
        min-height: 2.25rem !important;
        height: 2.25rem !important;
        padding-top: 0.35rem !important;
        padding-bottom: 0.35rem !important;
        box-sizing: border-box;
    }
    .text-field-component input,
    .MuiOutlinedInput-root input,
    .MuiInputBase-input,
    .MuiFilledInput-input {
        padding: 0.35rem !important;
        min-height: auto !important;
        box-sizing: border-box;
    }
    .text-field-component, .MuiOutlinedInput-root, .MuiOutlinedInput-root fieldset, .MuiInputBase-root {
        border-radius: 12px !important;
    }
}